{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "quotes": ["warn", "single"],
        "semi": "warn",
        "eol-last": ["warn", "always"],
        "indent": ["warn", 2],
        "@typescript-eslint/explicit-module-boundary-types": "off"
    }
}