@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('./SpoqaHanSansBold.woff2') format('woff2'),
    url('./SpoqaHanSansBold.woff') format('woff'),
    url('./SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('./SpoqaHanSansRegular.woff2') format('woff2'),
    url('./SpoqaHanSansRegular.woff') format('woff'),
    url('./SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('./SpoqaHanSansThin.woff2') format('woff2'),
    url('./SpoqaHanSansThin.woff') format('woff'),
    url('./SpoqaHanSansThin.ttf') format('truetype');
}